@import "bootstrap-icons/font/bootstrap-icons.css";
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import "datatables.net-select-bs5/css/select.bootstrap5.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
	font-family: Poppins, Figtree, ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}

[x-cloak] {
	display: none !important;
}

.modal {
	@apply fixed top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center bg-black/25;
}

.modal-content {
	@apply flex flex-col w-10/12 relative sm:w-3/4 md:w-2/3 lg:w-1/2 h-auto gap-4 p-6 pt-8 bg-white dark:bg-gray-800;
}

.product-options {
	@apply w-36 absolute right-0 z-10 flex flex-col bg-white overflow-hidden rounded-md shadow-xl -top-4 dark:bg-gray-700;
}

.product-options-item {
	@apply hover:!bg-gray-200 dark:hover:!bg-gray-600 dark:!text-white dark:!bg-gray-700 p-2 !bg-white cursor-pointer text-start;
}

.table-image {
	@apply object-cover w-12;
}

.action-button {
	@apply rounded cursor-pointer p-1.5;
}

.action-button-icon {
	@apply w-4 h-4 text-white;
}

.pending-icon {
	@apply text-2xl text-zinc-700 dark:text-zinc-200;
}
.cancel-icon {
	@apply text-2xl text-red-500 dark:text-red-700;
}
.approve-icon {
	@apply text-2xl text-green-500 dark:text-green-700;
}

.table-body tr {
	@apply !overflow-x-scroll sm:overflow-x-hidden;
}

.table-body tr td {
	@apply p-1 text-xs md:text-sm;
}

#DataTables_Table_0_length > label > select,
#DataTables_Table_0_filter > label > input {
	@apply text-black;
}

#DataTables_Table_0_wrapper > div:nth-child(4) {
	@apply flex flex-col my-4 sm:flex-row items-start sm:items-center justify-between gap-2;
}

#DataTables_Table_0_paginate > ul {
	@apply flex;
}

#DataTables_Table_0_paginate > ul > li {
	@apply px-3 py-1 border;
}

#DataTables_Table_0_paginate > ul > .active {
	@apply text-gray-600;
}

#DataTables_Table_0_paginate > ul > li:last-child {
	@apply rounded-r-md;
}

#DataTables_Table_0_paginate > ul > li:first-child {
	@apply rounded-l-md;
}

#DataTables_Table_0_wrapper > div:nth-child(1) {
	@apply hidden;
}

.form-input {
	@apply block min-h-[auto] focus:!ring-red-500 w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[2.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-red-500 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-200 dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0 focus:outline-none focus:ring-0 focus:border-0 focus:border-red-500;
}

.form-label {
	@apply pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-red-500 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200;
}

div[data-te-input-wrapper-init] > div[data-te-input-focused] > div,
div[data-te-select-form-outline-ref] > div[data-te-input-focused] > div {
	@apply !shadow-red-500 focus:!bg-red-500 !border-red-500;
}

div[data-te-select-form-outline-ref] > input[data-te-select-input-ref] {
	@apply border-none outline-none ring-0;
}

div[data-te-select-form-outline-ref]
	> input[data-te-input-focused]
	~ label[data-te-input-state-active],
div[data-te-select-form-outline-ref] > input[data-te-input-focused] ~ span,
div[data-te-select-form-outline-ref] > input[data-te-input-focused] ~ div {
	@apply !text-red-500;
}

div[data-te-input-wrapper-init]
	> div[data-te-input-focused]
	> div[data-te-input-notch-middle-ref],
div[data-te-select-form-outline-ref]
	> div[data-te-input-focused]
	> div[data-te-input-notch-middle-ref] {
	@apply border-t-0 transition-[border-top] duration-0;
}

.flatpickr-container .form-control,
.flatpickr-input {
	@apply border-none;
}
